.gearOption {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    margin: 4px;
    cursor: pointer;
}

.gearOption:hover {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    margin: 4px;
    cursor: pointer;
    background-color: grey;
    color: white;
    transition: .5s;
}

.gearSelected {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    margin: 4px;
    cursor: pointer;
    background-color: grey;
    color: white;
    transition: .5s;
}